<!DOCTYPE html>
<html lang="en">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>REDSTORE | Ecomemerce Website Design</title>
    <link rel="stylesheet" href="static\styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn/font-awesome/4.7.0/css/font-awesome.min.css">
    
<style>


</style>
<body>
    <header>


        <div class="body">
        
             <div class="navbar">
             <div class="logo">
                 <img src="static/VIVEK.png"  style="width:160px">
             </div>
             <nav>    
                 <ul>
                     <li><a href="">Home</a></li>
                     <li><a href="/Products">Products</a></li>
                     <li><a href="/About">About</a></li>
                     <li><a href="/Contact">Contact</a></li>
                     <li><a href="/Account">Account</a></li>
                 </ul>
             </nav>
            
         </div>
</header>
<div class="body">
    <div class="container">
    <div class="row">
        <div class="col-2">
            <h1>🛍️ Welcome to Reddy <br> Your Ultimate Shopping Destination!</h1>
            <p>✨ Trendy Fashion, Unbeatable Prices, and Premium Quality – All in One Place!<br>
                🛒 Shop Smart. Shop Stylish. Shop with Reddy! 🚀
                
                Let me know if you’d like a different tagline or a logo idea! 😊</p><br>
            <a href="" class="btn">Explore Now &#8594;</a>
        </div>
        <div class="col-2">
            <img src="static/LOGO-1.png">
        </div>
    </div>
</div>
</div>

<div class="categories">
    <div class="small">
        <div class="row">
           <div class="col-3">
               <img src="static/image-1.webp">
           </div>
           <div class="col-3">
               <img src="static/image-2.webp">
           </div>
           <div class="col-3">
               <img src="static/image-3.webp">
           </div>
        </div>
    </div>
</div>
<h2 class="title">Featured Products</h2>
<div class="VIVEK">
        <div class="col-4">
            <a href="{{ url_for('show_product_detail_white') }}" target="_blank">
                <img src="static/white.jpg" class="product-img" alt="White Printed T-Shirt">
            </a>
            <h4>White Printed T-Shirt</h4>
            <p>$52.00</p>
            <!-- Add to Cart Button -->
            <!-- <button class="btn add-to-cart">Add to Cart</button> -->
        </div>  
        <div class="col-4">
            <img src="static/multicoloured.webp" class="product-img">
            <h4>Red Printed T-Shirt</h4>
            <p>$57.00</p>
        </div>
        <div class="col-4">
            <img src="static/multicoloured.webp" class="product-img">
            <h4>Red Printed T-Shirt</h4>
            <p>$57.00</p>
        </div>
        <div class="col-4">
            <img src="static/checked_shirt.webp" class="product-img">
            <h4>Red Printed T-Shirt</h4>
            <p>$55.00</p>
        </div>
    </div>
</div>

<div class="offer">
    <div class="small-container">
        <div class="row">
            <div class="col-2">
                <img src="static/smart-watch.png" class="offer-img">
            </div>
            <div class="col-2">
                <p>Exclusively Available on Reddy</p>
                <h1>Smart Brand 4</h1>
                <small>The Mi Smart Brand 4 features a 39.9% larger than<br>
                    (than Mi Brand 3) Amoled color full-touch display with<br>
                    adjusteable brightness, so everything is clear as can<br>
                    be.</small><br>
                    <a href="" class="btn">Buy Now &#5894;</a>
            </div>
        </div>
    </div>
</div>


<div class="Brands">
    <div class="small-container">
        <div class="row">
            <div class="col-5">
                <img src="static/Godrej.png">
            </div>
            <div class="col-5">
                <img src="static/vivo.png">
            </div>
            <div class="col-5">
                <img src="static/coca-Cola.png">
            </div>
            <div class="col-5">
                <img src="static/Paypal.png">
            </div>
            <div class="col-5">
                <img src="static/philips.png">
            </div>
        </div>
    </div>
</div>


<!-- <div class="footer">
    <div class="big">
    <div class="container">
        <div class="row">
            <div class="footer-col-1">
                <h3>Download our App</h3>
                <p>Download App for Android and ios mobile phone</p>
            </div>
            <div class="footer-col-2">
                <img src="static/VIVEK.png">
                <p>Our Purpose is To Sustainably Make the Pleasure and<br>
                    Benefits of Sports accessible to the Many,</p>
            </div>
            <div class="footer-col-3">
                <h3>Useful Links</h3>
                <ul>
                    <li>Coupons</li>
                    <li>Blog post</li>
                    <li>Return Policy</li>
                    <li>Join Affiliates</li>
                </ul>
            </div>
            <div class="footer-col-4">
                <h3>Follow us</h3>
                <ul>
                    <li>Facebook</li>
                    <li>Twitter</li>
                    <li>Instagram</li>
                    <li>You Tube</li>
                </ul>
            </div>
        </div>
    </div>
</div>
</div> -->

<div>
    <div class="email-subscription-box">
        <h1><b>Join the Club</b></h1><br>
        <p><b>Stay tuned for more fashion updates and exclusive offers!</b></p>
        <form action="/submit_email" method="POST">
            <input type="email" id="email" name="email" placeholder="Enter your email" required>
            <button type="submit" class="btn">Subscribe</button>
        </form>
    </div>
</div>

<div class="footer">
    <div class="app">
        <div class="apps">
            <h3>Download our App</h3>
            <img src="static/apple.svg"><img src="static/android.png">
        </div>
        <div class="links">
            <h3>Useful Links</h3>
            <br>
            <ul>
                <li>Coupons</li>
                <li>Blog post</li>
                <li>Return Policy</li>
                <li>Join Affiliates</li>
            </ul>
        </div>
        <div class="Policies">
            <h3>Policies</h3>
            <ul>
                <li>Return Request</li>
                <li>Exchange Request</li>
                <li>Terms and Conditions</li>
                <li>Privacy Policy</li>
                <li>Return & Exchange Policy</li>
                <li>Shipping and Delivery Policy</li>
            </ul>
        </div>
        <div class="Follow">
            <h3>Follow us</h3>
            <ul>
                <li>Facebook</li>
                <li>Twitter</li>
                <li>Instagram</li>
                <li>You Tube</li>
            </ul>
        </div>
    </div>
</div>

    


</body>

</html>